@model IEnumerable<Lexiconn.Models.User>

@{
    ViewData["Title"] = "Користувачі";
}

<h1>Користувачі</h1>
<hr />

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
            </td>
        </tr>
    }
</table>
