
@{
    ViewData["Title"] = "Довідка";
}

<h1>Довідка</h1>
<hr />

<h3>Вступ</h3>
<p style="font-size:15px;">
    <b>Lexiconn</b> &#8211; це нова версія зошита, в який ви записуєте іншомовні слова із перекладами.
    І, на відміну від звичайного паперового зошита, який швидко закінчиться за місяць чи два, причому напевно лиш для однієї мови, Lexiconn надає набагато ширші можливості.
    Додавайте слова, поповнюйте свій запас на запропоновані та будь-які бажані мови, оперуйте розмаїтими частинами мови, визначайте один чи кілька перекладів для кожного слова.
    <br />
    І пам&#39;ятайте: слова формують реальність. Створюйте власну.
</p>

<h3>Формат</h3>
<p style="font-size:15px;">
    В усіх полях максимальна довжина введення &#8211; 50 символів.
    <br />
    Для введення допускаються будь-які символи Unicode.
    <br />
    Обмеження на зміст введених даних не накладаються &#8211; французькі слова в англійській мові не вважатимуться за помилку.
</p>

<h3>Слова</h3>
<p style="font-size:15px;">
    При створенні нового запису необхідно вказати слово, мову, категорію та принаймні один переклад. Якщо перекладів декілька &#8211; перераховуйте їх через кому.
    <br />
    Помилковими вважаються записи, у яких:
    <br />
    &#8211; слово, мова та категорія одночасно співпадають із такими для вже наявного запису;
    <br />
    &#8211; коми чи пробіли в перекладі записано некоректно (наприклад, &quot;   переклад&quot;, &quot;,переклад&quot;, &quot;переклад1,,,переклад2&quot; тощо).
    <br/>
    Для редагування запису вищенаведені принципи зберігаються (окрім того, що не змінений при редагуванні запис не вважається дублікатом самим собі).
</p>

<h3>Мови</h3>
<p style="font-size:15px;">
    За замовчуванням надаються три іноземні мови &#8211; англйіська, німецька та російська.
    За бажання ви можете додавати будь-які інші; введення вже наявної мови при створенні чи редагуванні розцінюється як помилка.
    <br />
    Для зручної навігації словником на сторінці кожної мови є перехід до відповідного їй списку слів.
</p>

<h3>Категорії</h3>
<p style="font-size:15px;">
    За замовчуванням надається десять основних категорій (частин мови): іменник, прикметник, числівник, займенник, дієслово, прислівник, сполучник, прийменник, частка, вигук, модальник.
    <br />
    За бажання ви можете додавати будь-які інші; введення вже наявної категорії при створенні чи редагуванні розцінюється як помилка.
</p>

<h3>Статистика</h3>
<p style="font-size:15px;">
    Дані про записи представлено на двох діаграмах: слова за мовами та слова за категоріями. За повної відсутності записів відповідні діаграми відсутні.
    <br />
</p>

<h3>Звіти</h3>
<p style="font-size:15px;">
    <b>Імпорт</b>
    <br />
    Щоб заповнити словник записами із зовнішнього носія, потрібно завантажити Excel-файл (.xls, .xlsx) у визначеному форматі. <a href="~/Samples/Sample Report.xlsx" download="Sample Report">Приклад звіту</a>
    <br />
    Надсилання файлу з розширенням, відмінним від зазначених вище, відхиляється з поверненням на сторінку &quot;Звіти&quot; та повідомленням про помилку.
    <br />
    У звіті може бути декілька листів. Дані починають читатися з другого рядка (перший &#8211; заголовний). Читаються тільки перші чотири комірки (слово, мова, категорія, переклад). Переклади кожного зі слів перераховуються в четвертій комірці через кому.
    <br />
    Помилковими вважаються файли, які містять записи:
    <br />
    &#8211; з одним або більше порожнім полем;
    <br />
    &#8211; з полями, довжина яких перевищує 50 символів;
    <br />
    &#8211; слово, мова та категорія яких одночасно співпадають із такими для вже наявного запису;
    <br />
    &#8211; з перекладами, наведеними в некоректному форматі (див. &quot;Слова&quot;).
    <br />
    Одразу після надсилання звіту записи додаються в словник і здійснюється перенаправлення на головну сторінку.
    <br />
    <b>Експорт</b>
    <br />
    Перед завантаженням поточних записів можна вибрати критерії фільтрації цих записів у відповідних випадних списках. Якщо дані за встановленими критеріями відсутні, завантаження файлу відхиляється з повідомленням про помилку.
    <br />
    Файл генерується в тому ж самому форматі, який було описано вище.
</p>

<a>
    @Html.ActionLink("На головну", "Index", "Home")
</a>